.App {
  text-align: center;
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

main {
  flex: 1;
  padding: 1.875em 0;
  width: 60%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


// Form styles
form {
  width: 60%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 1em;
  border-bottom: 1px solid #666;
  label {
    position: relative;
    display: block;
    
    input, textarea {
      box-sizing: border-box;
      display: block;
      border: none;
      padding: 20px;
      width: 100%;
      margin-bottom: 20px;
      font-size: 18px;
      outline: none;
      transition: all 0.2s ease-in-out;
      
      &::placeholder {
        transition: all 0.2s ease-in-out;
        color: #666;
      }
      
      &:focus, &.populated {
        padding-top: 28px;
        padding-bottom: 12px;
        
        &::placeholder {
          color: transparent;
        }
        
        & + span {
          opacity: 1;
          top: 10px;
        }
      }
    }
    
    span {
      color: #06A5D6;
      position: absolute;
      top: 0px;
      left: 20px;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
  }

  input[type="file"] {
    display: none;
  }

  .file-upload-btn {
    display: inline-block;
    padding: 20px;
    border: 1px solid #f6f6f6;
    background-color: #fff;
    color: #666;
    cursor: pointer;
      &:hover {
        border-color: #ccc;
      }
  }

  .submit-btn {
    float: right;
    padding: 20px;
    border: 1px solid #f6f6f6;
    background-color: #06A5D6;
    color: #f3f3f3;
    cursor: pointer;
    &:hover {
      background-color: #058cb5;
    }
  }
}


// Users List styles
.user-list {
  margin-top: 0.875em;
  border-collapse: collapse;
  width: 100%;
  font-size: 20px;
  border: 1px solid #d8d8d8;
  color: #333;
  & thead th {
      padding: .5em 0;
      background-color: #d8d8d8;
  }

  & tbody {
    font-size: 16px;
    .user-avatar img {
      max-height: 5em;
    }

    tr, tbody td {
      border: 1px solid #d8d8d8;
    }
  
    tr:hover {
      background-color: #bebebe;
    }
  }

}
